.moneygold {
	padding-right:15px;
	background: no-repeat right center;
	background-image: url(images/icons/money-gold.gif);
}
.moneysilver {
	padding-right:15px;
	background: no-repeat right center;
	background-image: url(images/icons/money-silver.gif);
}
.moneycopper {
	padding-right:15px;
	background: no-repeat right center;
	background-image: url(images/icons/money-copper.gif);
}
.icon-checkcircle {
	padding-left:2rem;
	background: no-repeat left center ;
	background-size:1.3rem;
	background-image: url(images/icons/Icon-checkCircleGreen.png);
}
.iconlarge {
	background: no-repeat center;
	position: relative;
	z-index: 10;
}

.scrollable-menu {
    max-height: 120px;
    overflow-x: hidden;
    overflow-y: auto;
}
.scrollable-menu-auto {
	height:auto;
    max-height: 120px;
    overflow-x: hidden;
    overflow-y: auto;
}
