html, body{
	/*
	border : solid yellow 2px;
	*/
	width: 100%;
	text-align: center;
}
/* radio 버튼을 숨깁니다 */
input[type=radio] {
	display: none;
}

.my-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.my-header {
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 5px;
	height: 100%;
	align-content: center;
	justify-content: center;
}
.my-header > div {
	width: 300px;
	height: 70px;
	padding: 8px;
}
.my-header > div > button {
	height: 100%;
	font-size: 1.2rem;
}
.my-header > div > div {
	font-size: 1.2rem;
}
.my-main {
	display:flex;
	flex-direction: row;
	flex-wrap : wrap;
	justify-content: center;
	margin: 20px;
}
.my-main > div {
	width: 280px;
	margin: 10px;
}

@media all and (min-width: 900px) {
	.my-main {
		width: 900px;
	}
}

.my-footer {
	display:flex;
	flex-direction: row;
	padding: 10px;
}

.btn-group > .btn {
	margin: 0px;
	padding: 0.15rem;
	font-size: 0.65rem;
	font-weight: bold;
}


/*
.badge-radio {
    display: inline-block;
    padding: 0.25em 0.4em;
        padding-top: 0.25em;
        padding-right: 0.4em;
        padding-bottom: 0.25em;
        padding-left: 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}
*/
.btn-badge {
    display: inline-block;
    font-weight: 700;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    padding: 0.25rem 0.4rem;
    font-size: 75%;
    line-height: 1;
    border-radius: 0.5rem;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
.moneygold {
	padding-right:15px;
	background: no-repeat right center;
	background-image: url(images/icons/money-gold.gif);
}
.moneysilver {
	padding-right:15px;
	background: no-repeat right center;
	background-image: url(images/icons/money-silver.gif);
}
.moneycopper {
	padding-right:15px;
	background: no-repeat right center;
	background-image: url(images/icons/money-copper.gif);
}
.icon-checkcircle {
	padding-left:2rem;
	background: no-repeat left center ;
	background-size:1.3rem;
	background-image: url(images/icons/Icon-checkCircleGreen.png);
}
.iconlarge {
	background: no-repeat center;
	position: relative;
	z-index: 10;
}

.scrollable-menu {
    max-height: 180px;
    overflow-x: hidden;
    overflow-y: auto;
}
.scrollable-menu-auto {
	height:auto;
    max-height: 180px;
    overflow-x: hidden;
    overflow-y: auto;
}
