html, body{
	/*
	border : solid yellow 2px;
	*/
	width: 100%;
	text-align: center;
}
/* radio 버튼을 숨깁니다 */
input[type=radio] {
	display: none;
}

/*
.card-title:hover {
	cursor: pointer;
}
*/

.card-title a {
	color : #FFFFFF;
}
.card-title a:hover {
	text-decoration: none !important;
	color : #FFFFFF;
}
.main-item {
	position: relative;
}

#div-form-item0, #div-form-item1, #div-form-item2, #div-form-item3, #div-form-item4, #div-form-item5 {
	display: none;
	position: absolute;
	z-index: 2;
	height: 100px ;
	/*margin: -15px -15px;*/
	margin: -15px;
	left:0px;
	justify-items: center;
}
.form-control-item {
	width: 268px;
	height: 70px;
	font-size: 1.5em;
	border-radius: 13px;
}
.item-confirm {
	/*position: absolute;*/
	width: 150px;
}

/*
input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
}

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
*/

/* 텍스트 클리어 버튼을 div로 직접 만들어 봤습니다 */
#icon-cancel0, #icon-cancel1, #icon-cancel2, #icon-cancel3, #icon-cancel4, #icon-cancel5, #icon-set-cancel {
	display:none;			/* text를 상하로 가운데 배치하기 위해 이 두줄을 추가했습니다 */
	flex-direction:column;	/* text를 상하로 가운데 배치하기 위해 이 두줄을 추가했습니다 */
	position: absolute;
	width: 22px;
	height: 22px;
	font-size:1.3em;
	font-weight: bold;
	text-align:center;
	border-radius: 6px;
	background: #dddddd;
	justify-content:center;
	align-content:center;
	margin: 8px 220px;
	cursor: pointer;
	z-index:3;
}
#icon-set-cancel {
	display:none;			/* text를 상하로 가운데 배치하기 위해 이 두줄을 추가했습니다 */
	flex-direction:column;	/* text를 상하로 가운데 배치하기 위해 이 두줄을 추가했습니다 */
	position: absolute;
	width: 22px;
	height: 22px;
	font-size:1.0em;
	font-weight: bold;
	text-align:center;
	border-radius: 6px;
	background: #dddddd;
	justify-content:center;
	align-content:center;
	margin: 15px ;
	left: 205px;
	cursor: pointer;
	z-index:6;
}
.dropdown-icon {
	display: flex;
	position: absolute;
	flex-direction: column;
	font-size: 0.7em !important;
	text-align: center;
	margin-top: 12px;
	left: 8px;
	justify-content: center;
	align-content: center;
	cursor: pointer;
	z-index: 7;
}
.dropdown-delete {
	display: flex;
	position: absolute;
	flex-direction: column;
	font-size: 0.9em !important;
	/*font-weight: bolder;*/
	text-align: center;
	margin-top: 4px;
	padding-left: 6px;
	width: 35px;
	height: 29px;
	right: 1px;
	/*background: #e74c3c;*/
	justify-content: center;
	/*align-content: right;*/
	cursor: pointer;
	z-index: 999999; 
}
.dropdown-item-delete {
	display: flex;
	position: absolute;
	flex-direction: column;
	font-size: 0.8em !important;
	font-weight: bolder;
	text-align: center;
	border-radius: 5px;
	border: 1px solid #666666;
	margin-top: 9px;
	padding: 0px 0px 3px 0px;
	width: 17px;
	height: 17px;
	left: 8px;
	/*background: #e74c3c;*/
	justify-content: center;
	align-content: center;
	cursor: pointer;
	z-index: 7;
}


.my-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.my-header {
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 5px;
	height: 100%;
	align-content: center;
	justify-content: center;
}
.my-header button {
	height: 100%;
	font-size: 1.2rem;
}
.my-header div {
	font-size: 1.2rem;
}
.temple_btn {
	position: relative;
	width: 300px;
	height: 70px;
	/*font-size: 1.2rem;*/
	align-content: center;
	justify-content: center;
}
.menu_wide {
	position: absolute;
	width: 300px;
	padding: 8px;
	height: 100%;
	z-index: 20;
}
/*.input_wide {*/
#div-form-itemset {
	display: none;
	position: absolute;
	flex-wrap: nowrap;
	flex-direction: row;
	height: 100%;
	width: 100%;
	padding: 8px;
	margin: 0px;
	/*border-radius: 13px;*/
	z-index: 50;
	justify-content: center;
	align-content: center;
}
.form-control-itemset {
	width: 240px;
	height: 100%;
	font-size: 0.9em;
	padding:10px;
	border-radius: 3px;
	border-width: 0px;
}
#itemset-confirm {
	font-size: 1.0rem;
	margin-top:-4px;
	padding:0px;
	width: 36px;
	height: 45px;
}
#icon-set-cancel {
}
.menu_wide_narrow {
	width: 300px;
	height: 70px;
	padding: 8px;
	white-space: nowrap;  /*줄바꿈 안하는 명령이었던 것 같습니다 */
}
.menu_narrow {
	width: 150px;
	height: 70px;
	padding: 8px;
}
.icon-checkcircle {
	padding-left:2rem;
	background: no-repeat left center ;
	background-size:1.3rem;
	background-image: url(images/icons/Icon-checkCircleGreen.png);
}
@media all and (max-width: 626px) {
	.menu_wide_narrow {
		order: -1;
		width: 150px;
	}
	.menu_wide_narrow > button {
		font-size: 0.9rem;
	}
	.icon-checkcircle {
		padding-left:1.5rem;
		background-size:1.1rem;
	}
	.menu_narrow {
		order: -1;
	}
}

@media all and (min-width: 627px) and (max-width: 800px) {
	.menu_wide_narrow {
		width: 150px;
	}
	.menu_wide_narrow > button {
		font-size: 0.9rem;
	}
	.icon-checkcircle {
		padding-left:1.5rem;
		background-size:1.1rem;
	}
}

.my-main {
	display:flex;
	flex-direction: row;
	flex-wrap : wrap;
	justify-content: center;
	margin: 20px;
}
.my-main > div {
	width: 280px;
	margin: 10px;
}

@media all and (min-width: 900px) {
	.my-main {
		width: 900px;
	}
}

.my-footer {
	display:flex;
	flex-direction: row;
	padding: 10px;
}

.btn-group > .btn {
	margin: 0px;
	padding: 0.15rem;
	font-size: 0.65rem;
	font-weight: bold;
}


/*
.badge-radio {
    display: inline-block;
    padding: 0.25em 0.4em;
        padding-top: 0.25em;
        padding-right: 0.4em;
        padding-bottom: 0.25em;
        padding-left: 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}
*/
.btn-badge {
    display: inline-block;
    font-weight: 700;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    padding: 0.25rem 0.4rem;
    font-size: 75%;
    line-height: 1;
    border-radius: 0.5rem;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
.moneygold {
	padding-right:15px;
	background: no-repeat right center;
	background-image: url(images/icons/money-gold.gif);
}
.moneysilver {
	padding-right:15px;
	background: no-repeat right center;
	background-image: url(images/icons/money-silver.gif);
}
.moneycopper {
	padding-right:15px;
	background: no-repeat right center;
	background-image: url(images/icons/money-copper.gif);
}
.iconlarge {
	background: no-repeat center;
	position: relative;
	z-index: 10;
}

.scrollable-menu {
	position:relative;
    max-height: 240px !important;
    overflow-x: hidden;
    overflow-y: auto;
	-webkit-overflow-scrolling:touch !important;
}
.scrollable-menu-auto {
	height:auto;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}
