{% extends 'base.html' %}

{% block script %}
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function(){
			$("#video1").bind('ended', function() {
				window.location.href = '{{ url_for('index') }}';
			});
		});
	</script>
{% endblock %}
{% block content %}
<!-- <video id='video1' width="80%" controls > -->
<video id='video1' width="80%" controls autoplay>
	<source src="{{ url_for('play', filename = filename) }}" type="video/mp4">
	browser don't support mp4 files
</video>
{% endblock %}
